<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Signup</title>
</head>
<body>
    <form method="POST" action="/log">
        <button type="">Login</button>
    </form>
    <form method="POST" action="/sign">
        <button type="submit">Signup</button>
    </form>
</body>
</html>